.slide-container{
  margin: 3% 0;
  display: flex;
  .slide{
    width: 25%;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px grey;
    .progress{
      .dates{
        margin-top: 3%;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        span{
          text-align: center;
        }
      }
    }
    .services{
      display: flex;
      justify-content: space-between;

    }
  }
}

button:disabled{
  color: silver;
  background-color: rgba(220, 20, 60, 0.055);
  cursor:none;
}
