<h2>Current Active Bookings</h2>
<div class="slide-container">
  <div class="slide" *ngFor="let active of activeBookings">
    <div class="progress">
      <mat-progress-bar [value]=""></mat-progress-bar>
      <div class="dates">
        <span>{{active.arrivalDate | date: 'yyyy.MM.dd'}}</span>
        <span>{{active.departureDate | date: 'yyyy.MM.dd'}}</span>
      </div>
    </div>
    <div class="data">
      <p>{{active.guestName}}</p>
      <p>{{active.roomNo}}</p>
    </div>
    <div class="services">
      <button mat-button class="positive-btn-salmon" (click)="bookingDetails(active)">Details</button>
    </div>
  </div>
</div>
