<div class="controls">
  <h2>Archived Bookings ({{length}})</h2>
</div>
<div>
  <div class="booking-table">
    <div class="booking-header-row">
      <div class="col">Room</div>
      <div class="col">Booking Date</div>
      <div class="col">Guest</div>
      <div class="col">Check In</div>
      <div class="col">Check Out</div>
      <div class="col">Booking Status</div>
    </div>
    <div class="data-row archived-col" *ngFor="let book of archivedBookings$ | async" (click)="bookingDetails(book)">
      <div class="col">{{book.roomNo}}</div>
      <div class="col">{{dateConverter(book.bookingDate) | date: 'yyyy.MM.dd'}}</div>
      <div class="col">{{book.guestName}}</div>
      <div class="col">{{dateConverter(book.arrivalDate) | date: 'yyyy.MM.dd'}}</div>
      <div class="col">{{dateConverter(book.departureDate) | date: 'yyyy.MM.dd'}}</div>
      <div class="col"> {{book.bookingStatus}}</div>
    </div>
  </div>
</div>
